<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/soon.css">
    <title>Document</title>
    
</head>
<body>
    <div class="nav">
        <img
          src="https://media.licdn.com/dms/image/C560BAQE7WgnBeLm3Bg/company-logo_200_200/0/1625720418766?e=2147483647&v=beta&t=KTUp1omXehd0PtjA2EDBLnVKgKIjIXW9JMvcwT67TFk"
          width="60">
  
  
  
        <ul class="nav-links" type="none">
          
          <!-- <i class="uil uil-times navCloseBtn" id="searchIcon"></i> -->
          <li><a href="http://localhost:7100/school/?scID=<%=sch%>"> Dashboard</a></li>
          <li><a href=""> Settings </a></li>
          <li><a href="#"> Device Management </a> </li>
          <li><a href="#"> Alert & Notification </a></li>
          <!-- <li><a href="#"> Help</a></li> -->
          <li><a href="#">Contact</a> </li>
          <!-- <a href="#">
            <button onclick="a()" class="button-62" id="logout-btn" role="button">Log out &nbsp;
  
  
  
              <i class="fa-solid fa-right-from-bracket fa-beat-none"></i></button>
          </a>
  
  
          imp-->
          <!-- <button onclick="myFunction()" style="border-radius: 50%; width: 30px;height: 30px;"> <i
              class="fa-solid fa-circle-half-stroke"  ></i></button> -->
  
          <img src="/img/okcl.jpeg" alt="okcl" width="60px">
  
        </ul>
  
      </div>
  
    <div class="container">
        <h1>Coming Soon!</h1>
        <p>We're working on something awesome and can't wait to share it with you.</p>

        <div id="countdown"></div>
        <p> Thnak You !</p>
      </div>
</body>
</html>